.button {
    border: none;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem 1.5rem;
    font-size: 1rem;
    cursor: pointer;
}

.transparent {
    background-color: transparent;
}

.pink {
    background-color: var(--color_navigate-button-pink);
}

.light {
    color: var(--color_white);
}

.dark {
    color: var(--color_navigate-button-pink);
}