.logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;

    .logo-img {
        height: 6.5rem;  
    }

    .white-border {
        border-right: 1px solid var(--color_white);
    }
    
    .black-border {
        border-right: 1px solid var(--color_black);
    }

    .logo-title {
        width: 5rem;
        display: flex;
        flex-direction: column; 
        
        .university-name {
            font-weight: 500;
        }
        
        .university-year {
            font-weight: 350;
        }
    }
}

.white-text {
    color: 1px solid var(--color_white);
}

.black-text {
    color: 1px solid var(--color_black);
}
