.portal-container {
    display: grid;
    grid-template-columns: auto;
    padding: 0 10rem 3rem 10rem;
    row-gap: 3rem;
}

@media only screen and (max-width: 1150px) {
    .portal-container {
        padding: 0 5rem 3rem 5rem;
    }
}

@media only screen and (max-width: 570px) {
    .portal-container {
        padding: 0 2rem 3rem 2rem;
    }
}