.quick-link-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 5rem;
    color: var(--color_white);
    background-color: var(--color_quick-link-background-grey);
    .quick-links-wrapper {
        display: flex;
        gap: 2rem;
    }
    .logo {
        display: flex;
        justify-content: flex-end;
        color: var(--color_white);
    }
}

@media only screen and (max-width: 670px) {
    .quick-link-container{
        .quick-links-wrapper {
            flex-direction: column;
        }
    }
}