$color_white: #ffffff;
$color_black: #000000; 
$color_portal-grey: #f3f6f7;
$color_text-grey: #6a6d71;
$color_navigate-button-pink: #cc0130;
$color_card-background-grey: #f2f5f6;
$color_quick-link-background-grey: #222222;
$color_footer-background-grey: #171717;
$color_main-banner-grey: #bdb7af;