.homepage-navigator {
    display: flex;
    flex-direction: column;
    color: var(--color_white);
    gap: 12rem;
}

.navigator-title-wrapper 
.title-wrapper {
    display: flex;
    flex-direction: column;
}

.navigator-subtitle {
    font-size: 5rem;
    width: 20rem;
    text-shadow: 0 0 1rem var(--color_text-grey);
}

.navigator {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%
}