.facility-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 10rem;
    text-align: center;
}

.navigation-hor-divider { 
    display: flex;
    flex-direction: column;
}

.navigation-ver-divider { 
    display: flex;
    flex-direction: row;
}

.horizontal-divider {
    border-top: 0.2px solid var(--color_inactive-text-grey);
    border-bottom: 0.2px solid var(--color_inactive-text-grey);
    width: 80%;
    height: 0.4px;
    margin-top: 0;
    margin-bottom: 0;
    visibility: hidden;
}

.navigation-hor-divider:nth-child(5) .horizontal-divider,
.navigation-hor-divider:nth-child(6) .horizontal-divider,
.navigation-hor-divider:nth-child(7) .horizontal-divider,
.navigation-hor-divider:nth-child(8) .horizontal-divider {
    visibility: visible;
}

.vertical-divider {
    border-left: 0.2px solid var(--color_inactive-text-grey);
    border-right: 0.2px solid var(--color_inactive-text-grey);
    margin-left: 0;
    margin-right: 0;
    height: 80%;
    visibility: hidden;
}

.navigation-hor-divider:nth-child(1) .navigation-ver-divider .vertical-divider,
.navigation-hor-divider:nth-child(2) .navigation-ver-divider .vertical-divider,
.navigation-hor-divider:nth-child(3) .navigation-ver-divider .vertical-divider,
.navigation-hor-divider:nth-child(5) .navigation-ver-divider .vertical-divider,
.navigation-hor-divider:nth-child(6) .navigation-ver-divider .vertical-divider,
.navigation-hor-divider:nth-child(7) .navigation-ver-divider .vertical-divider {
    visibility: visible;
}

@media only screen and (max-width: 1150px) {
    .facility-container {
        padding: 3rem 5rem;
    }
}

@media only screen and (max-width: 985px) {
    .facility-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .navigation-hor-divider:nth-child(3) .horizontal-divider,
    .navigation-hor-divider:nth-child(4) .horizontal-divider {
        visibility: visible;
    }

    .navigation-hor-divider:nth-child(2) .navigation-ver-divider .vertical-divider,
    .navigation-hor-divider:nth-child(6) .navigation-ver-divider .vertical-divider {
        visibility: hidden;
    }
}

@media only screen and (max-width: 570px) {
    .facility-container {
        padding: 2rem 2rem;
    }
}